<div class="ml-20">
  <h1 class="text-2xl font-bold mb-4">Departments</h1>

  <table class="w-full border-collapse border border-gray-300">
    <thead>
    <tr>
      <th class="px-4 py-2 border-b border-gray-300">Name</th>
      <th class="px-4 py-2 border-b border-gray-300">Product Address</th>
      <th class="px-4 py-2 border-b border-gray-300">Details</th>
      <th class="px-4 py-2 border-b border-gray-300">Asset type</th>
      <th class="px-4 py-2 border-b border-gray-300">History</th>
      <th class="px-4 py-2 border-b border-gray-300">Action</th>

    </tr>
    </thead>
    <tbody>
    <%= render @company_assets %>
    </tbody>
  </table>
</div>