<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing purchase order</h1>

  <%= render "form", purchase_order: @purchase_order %>

  <%= link_to "Show this purchase order", @purchase_order, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to purchase orders", purchase_orders_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
