<div class="mb-4">
  <strong class="block font-semibold">Title:</strong>
  <%= @department.title %>
</div>
<div class="mb-4">
  <strong class="block font-semibold">Description:</strong>
  <%= @department.description %>
</div>
<div>
  <%= link_to 'Edit', edit_department_path(@department), class: 'px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700' %> |
  <%= link_to 'Back', departments_path, class: 'px-4 py-2 bg-gray-600 text-white rounded hover:bg-gray-700' %>
</div>
